<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Happy New Year</title>
   <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="background: linear-gradient(to bottom, #F7F0EA, #E4DAD1);">
   <img src="/assets/new-year.jpg" alt="" class="object-cover object-center max-h-screen overflow-hidden">
</body>
</html>